<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./_head %>
</head>
<body>
    <% include ./_navbar %>
    <div class="loading" style="display: none;">
            <div class="loader"></div>
    </div>
    <div class="container-fluid">
        <div class="row m-2">
            <div class="col-12 offset-lg-3 col-lg-6" id="todolist">
            <% for(item in todolist){ %>
                <div class="card m-2">
                        <div class="card-block p-2" data-key="<%- item %>">
                        <div class="d-flex mb-2 justify-content-between">
                            <span class="h4 mb-0 card-title"><%- todolist[item].title %> <small class="h6 text-muted"><%- todolist[item].time %></small></span>
                            <i class="delete-icon mt-1 mr-1 justify-content-end fas fa-times"></i>
                        </div>
                        <p class="card-text"><%- todolist[item].content %></p>
                    </div>
                </div>
            <% } %>
            </div>
        </div>
    </div>
    <% include ./_script %>
</body>
</html>